 <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
   <div class="carousel-indicators">
     <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
       aria-label="Slide 1"></button>
     <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
     <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
   </div>
   <div class="carousel-inner">
     <div class="carousel-item active">
       <%= image_tag 'banner1.png' =%>

       <div class="container">
         <div class="carousel-caption text-start">
           <h1>Clássico</h1>
           <p>Além da elegância e conforto dos nossos modelos clássicos, a linha também oferece uma releitura dos
             modelos tradicionais. Buscamos o equilíbrio do design clássico com fôrmas e proporções atuais, acompanhando
             as principais tendências de moda em calçados masculinos.</p>
           <p><a class="btn btn-lg btn-primary" href="#">Ver mais</a></p>
         </div>
       </div>
     </div>
     <div class="carousel-item">
       <%= image_tag 'banner3.png' =%>

       <div class="container">
         <div class="carousel-caption">
           <h1>Casual</h1>
           <p>Para quem busca diversidade, nossa linha de sapatos casuais oferece desde sapatos para uso no escritório
             às sextas-feiras, até modelos como sneakers, sandálias e botas, sempre apostando em novos materiais, cores
             e tendências.</p>
           <p><a class="btn btn-lg btn-primary" href="#">Ver mais</a></p>
         </div>
       </div>
     </div>
     <div class="carousel-item">
       <%= image_tag 'banner4.png' =%>

       <div class="container">
         <div class="carousel-caption text-end">
           <h1>Clássico Executiva</h1>
           <p>Além da elegância e conforto dos nossos modelos clássicos, a linha também oferece uma releitura dos
             modelos tradicionais. Buscamos o equilíbrio do design clássico com fôrmas e proporções atuais, acompanhando
             as principais tendências de moda em calçados masculinos.</p>
           <p><a class="btn btn-lg btn-primary" href="#">Ver mais</a></p>
         </div>
       </div>
     </div>
   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Next</span>
   </button>
 </div>

 <div class="container marketing">

   <!-- Three columns of text below the carousel -->
   <div class="row">
     <div class="col-lg-4">
       <%= image_tag 'markenting1.png' =%>

       <h2 class="fw-normal">Casual Penny Loafer</h2>
       <p>
         Couro Napa Confort, 100% bovino
         Cometa Casual Penny Loafer
         Forro interno em lona
         Palmilha em EVA
         Sola de borracha
         Cor Chocolate
       </p>
       <p><a class="btn btn-secondary" href="#">Ver &raquo;</a></p>
     </div><!-- /.col-lg-4 -->
     <div class="col-lg-4">
       <%= image_tag 'markenting2.png' =%>

       <h2 class="fw-normal">Casual Penny Loafer</h2>
       <p>
         Couro Vegetal 100% bovino
         Drive Penny Loafer
         Forro interno total em couro
         Acabamentos feitos à mão
         Palmilha de couro
         Sola de borracha
         Cor Café
       </p>
       <p><a class="btn btn-secondary" href="#">Ver &raquo;</a></p>
     </div><!-- /.col-lg-4 -->
     <div class="col-lg-4">
       <%= image_tag 'markenting3.png' =%>

       <h2 class="fw-normal">Mocassim Penny Loafer</h2>
       <p>
         Couro Camurça, 100% bovino
         Cometa Mocassim Penny Loafer
         Forro interno em couro
         Palmilha de couro
         Sola de couro
         Cor Café</p>
       <p><a class="btn btn-secondary" href="#">Ver &raquo;</a></p>
     </div><!-- /.col-lg-4 -->
   </div><!-- /.row -->

   <hr class="featurette-divider">

   <div class="row featurette">
     <div class="col-md-7">
       <h2 class="featurette-heading fw-normal lh-1">Toda a linha. <span class="text-muted">It’ll blow your
           mind.</span></h2>
       <p class="lead">
       Além da elegância e conforto dos nossos modelos clássicos, a linha também oferece uma releitura dos modelos tradicionais. Buscamos o equilíbrio do design clássico com fôrmas e proporções atuais, acompanhando as principais tendências de moda em calçados masculinos.
       </p>
     </div>
     <div class="col-md-5">
       <%= image_tag 'produtos4.png' =%>

     </div>
   </div>

   <hr class="featurette-divider">

   <div class="row featurette">
     <div class="col-md-7 order-md-2">
       <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for
           yourself.</span></h2>
       <p class="lead">
      Para quem busca diversidade, nossa linha de sapatos casuais oferece desde sapatos para uso no escritório às sextas-feiras, até modelos como sneakers, sandálias e botas, sempre apostando em novos materiais, cores e tendências.
         </p>
     </div>
     <div class="col-md-5 order-md-1">
       <%= image_tag 'produtos1.png' =%>

     </div>
   </div>

   <hr class="featurette-divider">

   <div class="row featurette">
     <div class="col-md-7">
       <h2 class="featurette-heading fw-normal lh-1">Cometa Casual Penny Loafer <span
           class="text-muted">Checkmate.</span></h2>
       <p class="lead">
         Cometa Casual
         Para quem busca diversidade, nossa linha de sapatos casuais oferece desde sapatos para uso no escritório às
         sextas-feiras, até modelos como sneakers, sandálias e botas,
         sempre apostando em novos materiais, cores e tendências.
       </p>
     </div>
     <div class="col-md-5">
       <%= image_tag 'produtos.png' =%>

     </div>
   </div>

   <hr class="featurette-divider">

 </div><!-- /.container -->

 